{% extends 'main/base.html' %}
{% block title %}Create wallet{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Create new wallet</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}